.loginForm-container {
  --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
  width: 25%;
  height: 25%;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.loginForm-container::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity 0.5s;
}

.loginForm-content {
  --color: #181818;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 25px;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
}

.loginForm-title {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm-title span {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #f7ba2b;
}

.loginForm-form {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  color: white;
}
