.image-container {
  display: inline-block;
  animation: floatUpDown 3s ease-in-out infinite alternate;
  transform-style: preserve-3d;
}

.map-pagination {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2000;
  background-color: #000;
  padding: 5px;
  border-radius: 26px;
  border: 2px solid #000;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
